<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.best.app.patientmedicalfile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientMedicalFile">
        <activity
            android:name=".PackagePatient.ViewPersonalInformationActivity"
            android:exported="true" />
        <activity
            android:name=".PackagePatient.ReviewMedicalFileActivity"
            android:exported="true" />

        <activity
            android:name=".PackageDoctor.ViewReportAActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.ViewMedicalInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.ViewDiseaseActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.DiseaseActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.MedicalInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.DoctorViewPatientActivity"
            android:exported="true" />
        <activity
            android:name=".PackageAdmin.AdminViewPatientActivity"
            android:exported="true" />
        <activity
            android:name=".PackageAdmin.AdminViewDoctorActivity"
            android:exported="true" />
        <activity
            android:name=".PackageAdmin.AdminAddDoctorActivity"
            android:exported="true" />
        <activity
            android:name=".PackagePatient.PatientActivity"
            android:exported="true" />
        <activity
            android:name=".PackageDoctor.DoctorActivity"
            android:exported="true" />
        <activity
            android:name=".PackageAdmin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>